* {
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    background: antiquewhite;
  }
  
  .todo-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;
  }
  
  .todos-container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  
  .todo.done {
    background-color: lightgreen;
  }
  
  .todo-buttons {
    display: flex;
    column-gap: 10px;
  }
  
  .todo-input {
    height: 3rem;
    border-radius: 10px;
    border: 1px solid black;
    padding-inline: 15px;
  }
  
  .todo-buttons button {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding-inline: 10px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .todo-name {
    font-size: 1.5rem;
  }
  
  .todo-done {
    background: green;
  }
  
  .todo-delete {
    background: red;
  }